/* расположение заголовка*/

.page-header {text-align: center;}


/*main.php*/
.select{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.select h2{
    text-align: center;
}

.select li{
    display: inline;
    padding: 8px 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(98, 0, 255);
}

/* ссылка на главную страницу*/

.tomain{
    margin: auto;
}

.tomain a {
    color:rgb(98, 0, 255);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
.container input[type=text] {
    width: 50%;
    height: 100%;
    padding: 10px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }

  .successtext {
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4CAF50;
}

.failtext {
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f44336;
}

/* стили для постраничной навигации*/

.paging li {
    display: inline;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.paging a {
    text-decoration: none;
    color:black;
}

.paging .current {
    background-color: #4CAF50;
    color: white;
}

.paging a:hover:not(.current) {background-color: #ddd;}


/* стили для таблицы*/

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

.btn-update {background-color: #4CAF50;} /* Green */
.btn-delete {background-color: #f44336;} /* Red */